body{
    font-size: 17px;
    font-family: 'Lato', sans-serif;
}
#stickbar{
    grid-area: stick;
    background-color: white;
    display: inline;
    justify-content:space-between;
    height: 10vh;
    max-width: 450px;
    overflow: hidden;
    }
    
    .sticky{
        position: fixed;
        top: 0;
        width: 1200px;
        
    }

    #rozwijka{
        
        width: 1200px;
        height: 70vh;
        position: fixed;
        top: 20vh;
        bottom: 30vh;
        display: none;
        display: grid;
        
    }
    .poka{
        display: inline;
    }
    button{
        background-color: rgb(85, 114, 158);
        width: 35vw;
        height: 8vh;
        border-radius:  10% ;
        margin-left: 30vw;
        font-size: large;
    }
    .plec{
        display: flex;
       
    }
    #male{
        margin-left: 25px;
        margin-right: 15px;
    }
    #female{
        margin-left: 25px;
        margin-right: 15px;
    }

    @media only screen and (max-width:450px)
    {
        body{
            font-size: 1.5.rem;
            
            
            
        
        
        }
        .wiek{
            margin-top: 5px;
            margin-bottom: 5px;
        }
        #wiek{
            height: 1.3rem;
            width: 12em;
            float: right;
            
        }

        .wzrost{
            margin-top: 5px;
            margin-bottom: 5px;
            

        }
        #wzrost{
            height: 1.3rem;
            float: right;
            width: 12em;
        }
        
        .waga{
            margin-top: 5px;
            margin-bottom: 5px;

        }
        #waga{
            height: 1.3rem;
            float: right;
            width: 12em;
        }
    #stickbar{
        max-width: 450px;
    }
    #rozwijka1, #rozwijka2, #rozwijka3, #rozwijka4, #rozwijka5, #rozwijka6, #rozwijka7, #rozwijka8, #rozwijka9, #rozwijka10 , #rozwijka11 , #rozwijka12 , #rozwijka13 , #rozwijka14 , #rozwijka15 , #rozwijka101 , #rozwijka102 , #rozwijka103 , #rozwijka104 , #rozwijka105 , #rozwijka106 , #rozwijka107 , #rozwijka108 , #rozwijka109 , #rozwijka110 {
        
        width: auto;
        height: auto;
        position: relative;
        top: 0vh;
        left: 0;
        bottom: 20vh;
        background-color: antiquewhite;
        overflow: hidden;
        
        display: none;
        
        
        

    }
    
       
    
    .oblicz{
        display: flex;
    }
    .foto{
       align-content: center;
       max-width: 45vw;

padding: 7px;

float: left;
    }
    .skladniki{
        margin-top: 15px;
        max-height: 300px;
        margin-left: 185px;
       max-width: 45vw;
       display: flex;
        
    }
    .przepis{
       
       flex-wrap: wrap;
         max-width: 350px;
        
    }

#kalkulator{
    
    max-width: 350px;
    font-size: larger;
}
.wymiary{
    display: block;
    padding: 10px;
    max-width: 320px;
}


#male  , #female{
    height: 25px;
    width: 25px;
    padding: 10px;
}

#tryb{
    max-width: 320px;
    height: 40px;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#wynik,#total{
    width: 150px;
    height: 25px;
   margin-top: 15px;
   padding: 5px;
   margin-bottom: 15px;
}
.plec{
    padding: 15px;
}


p {
    font-size: 25px;
    margin-left: 30vw;
}

}
